<section class="grid grid-cols-1 md:grid-cols-2 gap-3">

  <app-title [title]="'Control flow'"/>

  <div class="bg-white rounded shadow p-10 mb-3">
    <h2 class="text-2xl font-bold mb-5">If: {{ showContent() }}</h2>

    <button class="p-2 bg-blue-500 rounded text-white" (click)="toggleContent()">Click me!</button>

    @if( showContent() ) {
      <p>Hola</p>
    }@else {
      <p>Es false</p>
    }

  </div>

  <div class="bg-white rounded shadow p-10 mb-3">
    @switch ( grade() ) {
      @case ('A') {
        <p>Aprobado</p>
      }
      @case ('B') {
        <p>Normal</p>
      }
      @default {
        <p>Reprobado</p>
      }
    }
  </div>

  <div class="bg-white rounded shadow p-10 mb-3">
    @for (item of frameworks(); track $index) {
      <p class="text-2xl font-bold">{{ item }}</p>
    }@empty {
      <p>No hay elementos</p>
    }
  </div>

</section>
